<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" formControlName="id" required>
  </div>

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" formControlName="name" required>
  </div>

  <div class="form-group">
    <label for="gender">Gender:</label>
    <select id="gender" name="gender" formControlName="gender" required>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" formControlName="email" required>
  </div>

  <div class="form-group">
    <label for="contactPreference">Contact Preference:</label>
    <input type="text" id="contactPreference" name="contactPreference" formControlName="contactPreference"
      placeholder="write Email" required>
  </div>

  <div class="form-group card">
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" required>
  </div>

  <div class="form-group">
    <label for="department">Department:</label>
    <input type="text" id="department" name="department" formControlName="department" required>
  </div>

  <div class="form-group radio-group">
    <label>Is Active:</label>
    <input type="radio" id="active" name="isActive" formControlName="isActive" [value]="true">
    <label for="active">Active</label>
    <input type="radio" id="inactive" name="isActive" formControlName="isActive" [value]="false">
    <label for="inactive">Inactive</label>
  </div>
  <!-- <label for="photoPath">Photo:</label>
    <img src="/assets/4.png" alt="User's Photo" id="photoPath" formControlName="photoPath"> -->
  <label for="photoPath">Photo:</label>
  <img src="{{ userForm.value.photoPath }}" alt="User's Photo" formControlName="photoPath">

  <button type="submit">Submit</button>
</form>